:root {
    --color-primary: #29b1dd;
    --color-secondary: #ccc;
    --color-tertiary: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#app > * {
    padding: 20px;
}
h1 {
    color: var(--color-primary);
    padding-left: 1rem;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--color-primary);
    color: var(--color-tertiary);
    text-transform: uppercase;
}
nav select {
    text-transform: capitalize;
}
main {
    background: var(--color-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    gap: 1rem;
}
.icon {
    width: 15rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: var(--color-tertiary);
    border-radius: .5rem;
    text-transform: capitalize;
}
.icon i {
    font-size: 1.5em;
}